Instalação das bibliotecas básicas

In [ ]:
import pandas as pd 
import numpy as np
import random
import os

### Instalação Spark

Para a constituição do ambiente Spark, basta a execução da célula abaixo. (*dura cerca de 40 segundos*)

In [2]:
%pip install findspark

Requirement already satisfied: findspark in c:\users\thiago.silva\appdata\local\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install pyspark

Requirement already satisfied: pyspark in c:\users\thiago.silva\appdata\local\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\thiago.silva\appdata\local\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import findspark
findspark.init()

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("app").getOrCreate()

In [7]:
spark

### Por que usar Spark nesse contexto?

Vamos comparar o tempo de execução de um comando de importação de um dataframe pandas e de um dataframe do spark.

In [149]:
import time

inicio = time.time()

cabecalho=['CNPJ_RAD', \
           'RAZAO_SOCIAL', \
           'NAT_JURIDICA', \
           'QUALIFICA_RESP', \
           'CAPITAL_SOCIAL', \
           'PORTE', \
           'ENTE_FED_RESP']

dataframe = pd.read_csv('RFB_CNPJ_EMPRESA_0.CSV', \
                            header=None, names=cabecalho, sep=';', encoding='windows-1252', low_memory=False)
dataframe.info()

fim = time.time()

print(f'\nTempo de execução com pandas (em segundos): {fim - inicio}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9387789 entries, 0 to 9387788
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   CNPJ_RAD        int64
 1   RAZAO_SOCIAL    object
 2   NAT_JURIDICA    int64
 3   QUALIFICA_RESP  int64
 4   CAPITAL_SOCIAL  object
 5   PORTE           float64
 6   ENTE_FED_RESP   object
dtypes: float64(1), int64(3), object(3)
memory usage: 501.4+ MB

Tempo de execução com pandas (em segundos): 12.83230996131897

In [150]:
inicio = time.time()

csvSchema = StructType(
    [StructField('CNPJ_RAD',StringType(),True),\
     StructField('RAZAO_SOCIAL',StringType(),True),\
     StructField('NAT_JURIDICA',StringType(),True),\
     StructField('QUALIFICA_RESP',StringType(),True),\
     StructField('CAPITAL_SOCIAL',StringType(),True),\
     StructField('PORTE',StringType(),True),\
     StructField('ENTE_FED_RESP',StringType(),True)])

dataframe = spark.read.csv('RFB_CNPJ_EMPRESA_0.CSV', header=None, schema=csvSchema, sep=';', encoding='windows-1252')

dataframe.printSchema()

fim = time.time()

print(f'Tempo de execução com pyspark (em segundos): {fim - inicio}')

root
 |-- CNPJ_RAD: string (nullable = true)
 |-- RAZAO_SOCIAL: string (nullable = true)
 |-- NAT_JURIDICA: string (nullable = true)
 |-- QUALIFICA_RESP: string (nullable = true)
 |-- CAPITAL_SOCIAL: string (nullable = true)
 |-- PORTE: string (nullable = true)
 |-- ENTE_FED_RESP: string (nullable = true)

Tempo de execução com pyspark (em segundos): 0.40335845947265625

Com o pandas o dataframe levou 12,8 segundos para carragar e com o pyspark, esse mesmo dataframe, levou 0,4 segundos para ser carregado, um tempo 32 vezes mais rápido (!!!)<br><br>
Dada o volume de dados a ser trabalhado nesse cenário, a opção natural, é portando, o uso do pyspark para análise exploratória.

### Iniciando a exploração dos dados

Importando bibliotecas específicas do pyspark

In [6]:
from pyspark.sql.types import *
import pyspark.sql.functions as f

## Empresas

In [7]:
csvSchema = StructType(
    [StructField('CNPJ_RAD',StringType(),True),\
     StructField('RAZAO_SOCIAL',StringType(),True),\
     StructField('NAT_JURIDICA',StringType(),True),\
     StructField('QUALIFICA_RESP',StringType(),True),\
     StructField('CAPITAL_SOCIAL',StringType(),True),\
     StructField('PORTE',StringType(),True),\
     StructField('ENTE_FED_RESP',StringType(),True)])

In [8]:
csvFilesEmpresa = ['RFB_CNPJ_EMPRESA_0.CSV',\
                  'RFB_CNPJ_EMPRESA_1.CSV',\
                  'RFB_CNPJ_EMPRESA_2.CSV',\
                  'RFB_CNPJ_EMPRESA_3.CSV',\
                  'RFB_CNPJ_EMPRESA_4.CSV',\
                  'RFB_CNPJ_EMPRESA_5.CSV',\
                  'RFB_CNPJ_EMPRESA_6.CSV',\
                  'RFB_CNPJ_EMPRESA_7.CSV',\
                  'RFB_CNPJ_EMPRESA_8.CSV',\
                  'RFB_CNPJ_EMPRESA_9.CSV']

In [9]:
empresa = spark.read.csv(csvFilesEmpresa, header=None, schema=csvSchema, sep=';', encoding='windows-1252')

In [9]:
display(empresa)

+--------+--------------------+------------+--------------+--------------+-----+-------------+
|CNPJ_RAD|        RAZAO_SOCIAL|NAT_JURIDICA|QUALIFICA_RESP|CAPITAL_SOCIAL|PORTE|ENTE_FED_RESP|
+--------+--------------------+------------+--------------+--------------+-----+-------------+
|41273602|FABIO SOUZA DO RO...|        2135|            50|      15000,00|   01|         null|
|41273603|GRAFLINE ACESSORI...|        2062|            49|      10000,00|   01|         null|
|41273604|RUMO - ESTUDIO DE...|        2062|            49|      10000,00|   01|         null|
|41273605|WALLACE DE OLIVEI...|        2135|            50|       1000,00|   01|         null|
|41273606|MARCOS CESAR DE M...|        2135|            50|      72000,00|   01|         null|
|41273607|LAYANE SCARLETT D...|        2135|            50|          1,00|   01|         null|
|41273608|FRANCISCA SAMPAIO...|        2135|            50|          0,00|   01|         null|
|41273609|INGRID DIAS ALVES...|        2135|            50|      10000,00|   01|         null|
|41273610|DAIANE DE SOUZA 0...|        2135|            50|       2500,00|   01|         null|
|41273611|RENATO MOREIRA DA...|        2135|            50|       2000,00|   01|         null|
|41273612|ELLEN FABIANI SOU...|        2062|            49|       1000,00|   01|         null|
|41273613|ICARO SALAZAR FAR...|        2135|            50|       1000,00|   01|         null|
|41273614|SERGIO BUENO DE F...|        2135|            50|       3000,00|   01|         null|
|41273615|FELIPE FERREIRA D...|        2135|            50|       5000,00|   01|         null|
|41273616|ANTONIO MORAIS DA...|        2135|            50|          0,00|   01|         null|
|41273617|EDUARDO SOARES DA...|        2135|            50|       1000,00|   01|         null|
|41273618|JENYFER STEPHANIE...|        2135|            50|       5000,00|   01|         null|
|41273619|HUGO LEANDRO DIAS...|        2135|            50|      10000,00|   01|         null|
|41273620|ROGER PADILHA BAG...|        2135|            50|          1,00|   01|         null|
|41273621|PAULO ROBERTO JES...|        2135|            50|        100,00|   01|         null|
+--------+--------------------+------------+--------------+--------------+-----+-------------+
only showing top 20 rows

#### Quantidade de registros na base de Empresas

In [10]:
empresa.count()

49841529

#### Porte das empresas

In [111]:
df_porte = empresa\
            .select('PORTE')\
            .groupby('PORTE')\
            .count()\
            .sort('count',ascending=False)

df_porte = df_porte.withColumn('DESC_PORTE', 
                     f.when(f.col('PORTE') == '01','MICRO EMPRESA')
                      .when(f.col('PORTE') == '03','EMPRESA DE PEQUENO PORTE')
                      .when(f.col('PORTE') == '05','DEMAIS')
                     .otherwise(f.lit('Não informado'))
                    )
df_porte.drop('PORTE')

df_porte.select('DESC_PORTE','count').show(truncate=False)

+------------------------+--------+
|DESC_PORTE              |count   |
+------------------------+--------+
|MICRO EMPRESA           |34995753|
|DEMAIS                  |13489254|
|EMPRESA DE PEQUENO PORTE|1292685 |
|Não informado           |63837   |
+------------------------+--------+

#### Capital Social

In [129]:
from pyspark.sql.types import IntegerType

empresa = empresa.withColumn("CAPITAL_SOCIAL_N", f.regexp_replace("CAPITAL_SOCIAL",',','.').cast(IntegerType()))

In [139]:
df_capital = empresa\
            .select('CNPJ_RAD','RAZAO_SOCIAL','CAPITAL_SOCIAL_N')\
            .groupby('CNPJ_RAD','RAZAO_SOCIAL')\
            .sum()\
            .sort('sum(CAPITAL_SOCIAL_N)',ascending=False)\
            .withColumnRenamed('sum(CAPITAL_SOCIAL_N)','CAPITAL_SOCIAL_TOTAL')

In [140]:
df_capital.select('RAZAO_SOCIAL','CAPITAL_SOCIAL_TOTAL').show(truncate=False)

+-------------------------------------------------------------------+--------------------+
|RAZAO_SOCIAL                                                       |CAPITAL_SOCIAL_TOTAL|
+-------------------------------------------------------------------+--------------------+
|CNH INDUSTRIAL LATIN AMERICA LTDA.                                 |2146078578          |
|COMPANHIA DE ALUMINA DO PARA                                       |2143204237          |
|SUMMIT EMPREENDIMENTOS MINERAIS LTDA.                              |2140703000          |
|SOMPO INTERNATIONAL HOLDINGS BRASIL LTDA                           |2136264866          |
|JNS 41 PARTICIPACOES LTDA.                                         |2135897701          |
|COOPERATIVA AGROINDUSTRIAL DOS PRODUTORES RURAIS DO SUDOESTE GOIANO|2134567988          |
|EDP RENOVAVEIS BRASIL S/A                                          |2129472300          |
|ALTO SERTAO PARTICIPACOES S.A. EM RECUPERACAO JUDICIAL             |2128113290          |
|CAOA CHERY AUTOMOVEIS LTDA.                                        |2126405706          |
|SHLTR II PARTICIPACOES S.A.                                        |2126249500          |
|BOLD CAPITAL INVESTIMENTOS ASSESSORIA E PARTICIPACAO LTDA - SCP 01 |2126000000          |
|BANCO FIBRA SA                                                     |2124887840          |
|CAIXA PARTICIPACOES S/A - CAIXAPAR                                 |2123409235          |
|AES BRASIL ENERGIA S.A.                                            |2116000500          |
|BANCO COOPERATIVO SICOOB S.A.                                      |2110226464          |
|SICREDI PARTICIPACOES S.A.                                         |2108211122          |
|BANCO CREDIT AGRICOLE BRASIL S.A.                                  |2105673006          |
|JOAO FORTES ENGENHARIA S A                                         |2103387497          |
|ECORODOVIAS INFRAESTRUTURA E LOGISTICA S/A                         |2101489404          |
|PRUSERVICOS PARTICIPACOES LTDA.                                    |2099005250          |
+-------------------------------------------------------------------+--------------------+
only showing top 20 rows

In [144]:
df_capital_faixa = df_capital.withColumn('FAIXA_CAPITAL_SOCIAL',
                     f.when(f.col('CAPITAL_SOCIAL_TOTAL') > f.lit(1000000),'5. (1000-)')
                      .when(f.col('CAPITAL_SOCIAL_TOTAL') > f.lit(100000),'4. (100-1000]') 
                      .when(f.col('CAPITAL_SOCIAL_TOTAL') > f.lit(10000),'3. (10-100]')
                      .when(f.col('CAPITAL_SOCIAL_TOTAL') > f.lit(1000),'2. (1-10]')
                      .when(f.col('CAPITAL_SOCIAL_TOTAL') >= f.lit(0),'1. [0-1]')
                      .otherwise(f.lit('9. Não possui capital social'))
                    )

df_capital_faixa = df_capital_faixa\
            .select('FAIXA_CAPITAL_SOCIAL')\
            .groupby('FAIXA_CAPITAL_SOCIAL')\
            .count()\
            .sort('FAIXA_CAPITAL_SOCIAL',ascending=True)\

df_capital_faixa.select('FAIXA_CAPITAL_SOCIAL','count').show(truncate=False)

+----------------------------+--------+
|FAIXA_CAPITAL_SOCIAL        |count   |
+----------------------------+--------+
|1. [0-1]                    |27544092|
|2. (1-10]                   |13208526|
|3. (10-100]                 |7498530 |
|4. (100-1000]               |1337897 |
|5. (1000-)                  |251373  |
|9. Não possui capital social|1111    |
+----------------------------+--------+

## Estabelecimentos

In [9]:
from pyspark.sql.types import *
import pyspark.sql.functions as f
from pyspark.sql.functions import col, max, min

In [10]:
csvSchema = StructType(
    [StructField('CNPJ_RAD',StringType(),True),\
     StructField('CNPJ_ORD',StringType(),True),\
     StructField('CNPJ_DV',StringType(),True),\
     StructField('ID_MATRIZ',StringType(),True),\
     StructField('NM_FANTASIA',StringType(),True),\
     StructField('SITUACAO_CAD',StringType(),True),\
     StructField('DT_SITUACAO_CAD',StringType(),True),\
     StructField('MOT_SITUACAO_CAD',StringType(),True),\
     StructField('NM_CIDADE_EXTERIOR',StringType(),True),\
     StructField('PAIS',StringType(),True),\
     StructField('DT_INICIO_ATV',StringType(),True),\
     StructField('CNAE_PRINC',StringType(),True),\
     StructField('CNAE_SEC',StringType(),True),\
     StructField('TP_LOGRADOURO',StringType(),True),\
     StructField('LOGADOURO',StringType(),True),\
     StructField('NUMERO',StringType(),True),\
     StructField('COMPLEMENTO',StringType(),True),\
     StructField('BAIRRO',StringType(),True),\
     StructField('CEP',StringType(),True),\
     StructField('UF',StringType(),True),\
     StructField('CD_MUNICIPIO',StringType(),True),\
     StructField('DDD1',StringType(),True),\
     StructField('FONE1',StringType(),True),\
     StructField('DDD2',StringType(),True),\
     StructField('FONE2',StringType(),True),\
     StructField('DDD_FAX',StringType(),True),\
     StructField('FAX',StringType(),True),\
     StructField('EMAIL',StringType(),True),\
     StructField('SITUACAO_ESPECIAL',StringType(),True),\
     StructField('DT_SITUACAO_ESPECIAL',StringType(),True)])

In [7]:
path='C:/Users/thiago.silva/TCC/RFB_CNPJ/'

In [8]:
csvFilesEstabelecimento = ['ESTAB_0.CSV',\
                           'ESTAB_1.CSV',\
                           'ESTAB_2.CSV',\
                           'ESTAB_3.CSV',\
                           'ESTAB_4.CSV',\
                           'ESTAB_5.CSV',\
                           'ESTAB_6.CSV',\
                           'ESTAB_7.CSV',\
                           'ESTAB_8.CSV',\
                           'ESTAB_9.CSV']

In [ ]:
estabelecimento = spark.read.csv(path+csvFilesEstabelecimento, header=None, schema=csvSchema, sep=';', encoding='windows-1252')

In [12]:
display(estabelecimento)

DataFrame[CNPJ_RAD: string, CNPJ_ORD: string, CNPJ_DV: string, ID_MATRIZ: string, NM_FANTASIA: string, SITUACAO_CAD: string, DT_SITUACAO_CAD: string, MOT_SITUACAO_CAD: string, NM_CIDADE_EXTERIOR: string, PAIS: string, DT_INICIO_ATV: string, CNAE_PRINC: string, CNAE_SEC: string, TP_LOGRADOURO: string, LOGADOURO: string, NUMERO: string, COMPLEMENTO: string, BAIRRO: string, CEP: string, UF: string, CD_MUNICIPIO: string, DDD1: string, FONE1: string, DDD2: string, FONE2: string, DDD_FAX: string, FAX: string, EMAIL: string, SITUACAO_ESPECIAL: string, DT_SITUACAO_ESPECIAL: string]

#### Quantidade de registros na base de Estabelecimentos

In [54]:
estabelecimento.count()

56520622

#### Matriz/Filial

In [24]:
df_matriz = estabelecimento\
            .select('ID_MATRIZ')\
            .groupby('ID_MATRIZ')\
            .count()\
            .sort('count',ascending=False)

df_matriz = df_matriz.withColumn('MATRIZ_FILIAL', 
                     f.when(f.col('ID_MATRIZ') == '1','MATRIZ')
                      .when(f.col('ID_MATRIZ') == '2','FILIAL')
                     .otherwise(f.lit('Não informado'))
                    )
df_matriz.drop('ID_MATRIZ')

df_matriz.select('MATRIZ_FILIAL','count').show()

+-------------+--------+
|MATRIZ_FILIAL|   count|
+-------------+--------+
|       MATRIZ|53671274|
|       FILIAL| 2849348|
+-------------+--------+

#### Ano de abertura das empresas

In [13]:
estabelecimento = estabelecimento.withColumn('ANO_ABERTURA', f.substring(f.col('DT_INICIO_ATV'), 1, 4))
estabelecimento = estabelecimento.withColumn('ANO_ABERTURA_n', col('ANO_ABERTURA').cast("integer"))

In [39]:
df_ano_abertura = estabelecimento\
                  .select('ANO_ABERTURA')\
                  .groupby('ANO_ABERTURA')\
                  .count()\
                  .sort('count',ascending=False)

In [12]:
df_ano_abertura.show()

+------------+-------+
|ANO_ABERTURA|  count|
+------------+-------+
|        2021|4136068|
|        2020|4011782|
|        2022|3970323|
|        2019|3271266|
|        2018|2762068|
|        2016|2654049|
|        2017|2371952|
|        2012|2332555|
|        2015|2127507|
|        2014|2022592|
|        2013|1978709|
|        2011|1726484|
|        2010|1544043|
|        2023|1507961|
|        2008|1216212|
|        2004|1036644|
|        2009| 872811|
|        2006| 807948|
|        2007| 750726|
|        1997| 677493|
+------------+-------+
only showing top 20 rows

In [45]:
df_ano_abertura.sort('ANO_ABERTURA',ascending=True).show(50)

+------------+-----+
|ANO_ABERTURA|count|
+------------+-----+
|        null|    3|
|        1109|    1|
|        1194|    1|
|        1199|    1|
|        1601|    1|
|        1696|    1|
|        1891|    1|
|        1893|    1|
|        1899|    1|
|        1901|  161|
|        1902|    3|
|        1903|    8|
|        1904|    8|
|        1905|    4|
|        1906|    6|
|        1907|    4|
|        1908|    6|
|        1909|    4|
|        1910|    3|
|        1911|    4|
|        1912|    4|
|        1913|    3|
|        1914|    4|
|        1915|    7|
|        1916|    2|
|        1917|    5|
|        1918|    7|
|        1919|    4|
|        1920|    8|
|        1921|    6|
|        1922|   12|
|        1923|    2|
|        1924|    6|
|        1925|   10|
|        1926|    6|
|        1927|   10|
|        1928|    3|
|        1929|   18|
|        1930|    9|
|        1931|   15|
|        1932|   15|
|        1933|   19|
|        1934|   40|
|        1935|   10|
|        1936|   18|
|        1937|   19|
|        1938|   19|
|        1939|   29|
|        1940|   19|
|        1941|   34|
+------------+-----+
only showing top 50 rows

In [26]:
# Supondo que o seu DataFrame seja chamado de 'df' e a coluna de string seja chamada 'coluna_string'
df_ano_abertura2 = df_ano_abertura.withColumn('ANO_ABERTURA_N', col('ANO_ABERTURA').cast("integer"))

In [27]:
# Supondo que o seu DataFrame seja chamado de 'df' e a coluna convertida seja 'coluna_inteiro'
valor_maximo = df_ano_abertura2.select(max('ANO_ABERTURA_N')).first()[0]
valor_minimo = df_ano_abertura2.select(min('ANO_ABERTURA_N')).first()[0]

print("Valor máximo:", valor_maximo)
print("Valor mínimo:", valor_minimo)

Valor máximo: 9420
Valor mínimo: 1109

In [29]:
estatisticas_descritivas = df_ano_abertura2.describe('ANO_ABERTURA_N')
estatisticas_descritivas.show()

+-------+------------------+
|summary|    ANO_ABERTURA_N|
+-------+------------------+
|  count|               139|
|   mean|2137.4964028776976|
| stddev| 902.7985344624495|
|    min|              1109|
|    max|              9420|
+-------+------------------+

**Situação cadastral**

In [14]:
estabelecimento = estabelecimento.withColumn('ANO_SIT_CADASTRAL', f.substring(f.col('DT_SITUACAO_CAD'), 1, 4))
estabelecimento = estabelecimento.withColumn('ANO_SIT_CADASTRAL_N', col('ANO_SIT_CADASTRAL').cast("integer"))

In [30]:
# Analisando a data da situação cadastral
estatisticas_descritivas2 = estabelecimento.describe('ANO_SIT_CADASTRAL_N')
estatisticas_descritivas2.show()

+-------+-------------------+
|summary|ANO_SIT_CADASTRAL_N|
+-------+-------------------+
|  count|           56520622|
|   mean|  2010.071795388239|
| stddev| 102.79639970566382|
|    min|                  0|
|    max|               2023|
+-------+-------------------+

**Período de funcionamento do estabelecimento**

In [15]:
estabelecimento = estabelecimento.withColumn('TEMPO_FUNCIONAMENTO', f.col('ANO_SIT_CADASTRAL')-f.col('ANO_ABERTURA_N'))

In [19]:
# Analisando o tempo de funcionamento
estatisticas_descritivas3 = estabelecimento.describe('TEMPO_FUNCIONAMENTO')
estatisticas_descritivas3.show()

+-------+-------------------+
|summary|TEMPO_FUNCIONAMENTO|
+-------+-------------------+
|  count|           56520619|
|   mean| 0.7809523812893839|
| stddev| 102.58931731143124|
|    min|            -9420.0|
|    max|              909.0|
+-------+-------------------+

In [16]:
# Calcule o primeiro e o terceiro quartil para uma coluna específica
coluna = 'TEMPO_FUNCIONAMENTO'
quantiles = estabelecimento.approxQuantile(coluna, [0.25, 0.75], 0.05)
q1 = quantiles[0]
q3 = quantiles[1]

# Calcule o intervalo interquartil (IQR)
iqr = q3 - q1

# Calcule os limites superior e inferior usando o IQR
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

# Use os limites para filtrar os outliers
df_outliers = estabelecimento.filter((col(coluna) > limite_superior) | (col(coluna) < limite_inferior))

# Exiba os outliers
df_outliers.show()

+--------+--------+-------+---------+--------------------+------------+---------------+----------------+------------------+----+-------------+----------+--------------------+-------------+--------------------+------+--------------------+--------------------+--------+---+------------+----+--------+----+--------+-------+--------+--------------------+-----------------+--------------------+------------+--------------+-----------------+-------------------+-------------------+
|CNPJ_RAD|CNPJ_ORD|CNPJ_DV|ID_MATRIZ|         NM_FANTASIA|SITUACAO_CAD|DT_SITUACAO_CAD|MOT_SITUACAO_CAD|NM_CIDADE_EXTERIOR|PAIS|DT_INICIO_ATV|CNAE_PRINC|            CNAE_SEC|TP_LOGRADOURO|           LOGADOURO|NUMERO|         COMPLEMENTO|              BAIRRO|     CEP| UF|CD_MUNICIPIO|DDD1|   FONE1|DDD2|   FONE2|DDD_FAX|     FAX|               EMAIL|SITUACAO_ESPECIAL|DT_SITUACAO_ESPECIAL|ANO_ABERTURA|ANO_ABERTURA_n|ANO_SIT_CADASTRAL|ANO_SIT_CADASTRAL_N|TEMPO_FUNCIONAMENTO|
+--------+--------+-------+---------+--------------------+------------+---------------+----------------+------------------+----+-------------+----------+--------------------+-------------+--------------------+------+--------------------+--------------------+--------+---+------------+----+--------+----+--------+-------+--------+--------------------+-----------------+--------------------+------------+--------------+-----------------+-------------------+-------------------+
|08242879|    0001|     90|        1|COMUNIDADE EVANGE...|          02|       20220628|              00|              null|null|     19720707|   9491000|                null|         VILA|    LINHA KRONENTHAL|    SN|                null|            INTERIOR|99495000| RS|        5951|  54|33921006|  54|91069845|     54|33921006|                null|             null|                null|        1972|          1972|             2022|               2022|               50.0|
|23392118|    0001|     08|        1|         BUON SABORE|          04|       20180928|              63|              null|null|     19950111|   4781400|                null|          RUA|       JACINTO GODOY|   809|      XXXXXXXXXXX...|      JOSE BONIFACIO|99701510| RS|        8637|  54|99454529|  54|99052464|     00| 0000000|SUZANADESIGN@GMAI...|             null|                null|        1995|          1995|             2018|               2018|               23.0|
|08145242|    0001|     85|        1|              ASACTR|          03|       20140425|              21|              null|null|     19881104|   9430800|     9493600,9499500|          RUA|                DOZE|    04|                null|              CENTRO|75720000| GO|        9623|  64|34751268|null|    null|   null|    null|                null|             null|                null|        1988|          1988|             2014|               2014|               26.0|
|10157798|    0001|     33|        1|                PSDB|          02|       20190219|              00|              null|null|     19890717|   9492800|                null|          RUA| WILSON PIRES GAVIAO|   437|                null|              CENTRO|97645000| RS|        0994|  55|98424769|null|    null|   null|    null|MARLEYCARPES@HOTM...|             null|                null|        1989|          1989|             2019|               2019|               30.0|
|09229396|    0001|     18|        1|      HK CORPORATION|          02|              0|              00|              null|null|     20071130|   2063100|             2062200|          RUA|   DOUTOR PENA FIRME|    28|                null|       JARDIM IGUACU|26282240| RJ|        5869|  21|26576624|null|    null|     21|27560228|                null|             null|                null|        2007|          2007|                0|                  0|            -2007.0|
|21556191|    0001|     42|        1|CLUBE DE BOCHAS D...|          04|       20181016|              63|              null|null|     19820326|   9312300|                null|          RUA|        SAO PROCOPIO|   297|                null|     VILA CALIFORNIA|03212020| SP|        7107|  11|20687918|  11|29144157|     11|29144157|PEREIRACONT@TERRA...|             null|                null|        1982|          1982|             2018|               2018|               36.0|
|19773533|    0001|     34|        1|GRUPO ART BRASIL ...|          02|       20210729|              00|              null|null|     19970627|   9493600|9430800,9499500,9...|          RUA|                1015|  1157|QUADRA130        ...|  SET PEDRO LUDOVICO|74820285| GO|        9373|  62|84313014|null|    null|     62|85813564|ARTBRASIL.MESTREM...|             null|                null|        1997|          1997|             2021|               2021|               24.0|
|09180556|    0001|     81|        1|FUNDO MUNICIPAL D...|          02|       20190122|              00|              null|null|     19950929|   8730199|             8800600|      AVENIDA|     PRINCEZA IZABEL|   S/N|                null|              CENTRO|87230000| PR|        7653|  44|36281301|  44|36281212|     44|36281212|pmjussara@terra.c...|             null|                null|        1995|          1995|             2019|               2019|               24.0|
|23553770|    0001|     67|        1|TERREIRO DE UMBAN...|          02|       20210913|              00|              null|null|     19860520|   9491000|                null|     SERVIDAO|           CAMPOLINA|   118|                null|           BOM VIVER|88160001| SC|        8045|  48|32960313|null|    null|   null|    null| lena28@ibest.com.br|             null|                null|        1986|          1986|             2021|               2021|               35.0|
|08253603|    0001|     07|        1|                IPAI|          04|       20220607|              63|              null|null|     19970313|   8520100|             8513900|      AVENIDA|      TANCREDO NEVES|   118|ANDAR: 1 ; CXPST:...|              CENTRO|68639000| PA|        0627|  94|37791529|  94|37790254|     94|33791529|QUARESMACONTABILI...|             null|                null|        1997|          1997|             2022|               2022|               25.0|
|09341094|    0001|     37|        1|COOMSERV - COOP M...|          04|       20190130|              63|              null|null|     19960408|   9499500|             9430800|          RUA|         JOAO PESSOA| 162 A|                null|              CENTRO|55835970| PE|        2387|  81|91039100|  81|91039100|   null|    null|JANFERTEX@YAHOO.C...|             null|                null|        1996|          1996|             2019|               2019|               23.0|
|12275722|    0001|     38|        1|    LIDIA CONFECCOES|          08|       20201019|              01|              null|null|     19941118|   1412601|                null|          RUA|         JOSE ANDERE|   440|                null|    JD MARIA CECILIA|08500010| SP|        6415|  11|46757074|null|    null|   null|    null|CONTABILRAYNIFE@H...|             null|                null|        1994|          1994|             2020|               2020|               26.0|
|10144989|    0001|     60|        1|CYVAL O MAXIMO DE...|          04|       20210203|              63|              null|null|     19970711|   4752100|4321500,4759899,8...|      AVENIDA|APARECIDA INES CH...|  1-83|                null|NUCLEO EDISON BAS...|17022490| SP|        6219|  14|32084423|  14|32084417|     14|32270942|zilda@masterescri...|             null|                null|        1997|          1997|             2021|               2021|               24.0|
|11171218|    0001|     25|        1|IGREJA EVANGELICA...|          04|       20210326|              63|              null|null|     19950221|   9491000|                null|          RUA|                DOIS|   213|                null|JARDIM NOVO HORIZ...|08593270| SP|        6563|  11|47473518|null|    null|   null|    null|                null|             null|                null|        1995|          1995|             2021|               2021|               26.0|
|87548814|    0007|     39|        2| FILIAL 02 - VITORIA|          08|       20160331|              31|              null|null|     19740409|   3101200|             3102100|          RUA|             VITORIA|   S/N|                null|            BOTAFOGO|95700010| RS|        8541|  54|21028100|  54|21028297|     54|21028101|CONTABILIDADE@TOD...|             null|                null|        1974|          1974|             2016|               2016|               42.0|
|14931986|    0001|     28|        1|         COLONIAPREV|          02|       20200207|              00|              null|null|     19970905|   8430200|                null|          RUA|      15 DE NOVEMBRO|    43|                CASA|              CENTRO|57975000| AL|        2741|  82|32551145|  82|99143061|     82|32551145|                null|             null|                null|        1997|          1997|             2020|               2020|               23.0|
|14951139|    0001|     25|        1|                null|          04|       20181004|              63|              null|null|     19890821|   4669999|4689399,4649401,4...|        PRACA|         OLAVO BILAC|    95|            SALA  34|      CAMPOS ELISEOS|01201050| SP|        7107|  11|39991643|  11|39991643|     11|39991643|    xeruca@ig.com.br|             null|                null|        1989|          1989|             2018|               2018|               29.0|
|06691299|    0001|     54|        1|                null|          08|       20160818|              01|              null|null|     19771201|   1412602|             1411801|          RUA|       LEONIDAS MELO|   S/N|                null|              CENTRO|64100000| PI|        1023|  86|99956165|null|    null|   null|    null|                null|             null|                null|        1977|          1977|             2016|               2016|               39.0|
|87171641|    0001|     97|        1|FRATERNIDADE UBIR...|          04|       20181030|              63|              null|null|     19550912|   9491000|                null|          RUA|    BARO DO AMAZONAS|  2035|                null|            PARTENIN|90660001| RS|        8801|  51|39073644|null|    null|   null|    null|                null|             null|                null|        1955|          1955|             2018|               2018|               63.0|
|08305809|    0001|     33|        1|   AUDIO INFINIT CAR|          04|       20180906|              63|              null|null|     19730313|   4530703|                null|          RUA|        URBANO LOPES|    87|                LOJA|         JD.BOTANICO|80050520| PR|        7535|  41|30238878|null|    null|   null|    null|                null|             null|                null|        1973|          1973|             2018|               2018|               45.0|
+--------+--------+-------+---------+--------------------+------------+---------------+----------------+------------------+----+-------------+----------+--------------------+-------------+--------------------+------+--------------------+--------------------+--------+---+------------+----+--------+----+--------+-------+--------+--------------------+-----------------+--------------------+------------+--------------+-----------------+-------------------+-------------------+
only showing top 20 rows

In [18]:
df_outliers.count()

4313367

In [20]:
# Analisando o tempo de funcionamento
estatisticas_descritivas4 = df_outliers.describe('TEMPO_FUNCIONAMENTO')
estatisticas_descritivas4.show()

+-------+-------------------+
|summary|TEMPO_FUNCIONAMENTO|
+-------+-------------------+
|  count|            4313367|
|   mean| -39.48778575994113|
| stddev|  368.4341498632619|
|    min|            -9420.0|
|    max|              909.0|
+-------+-------------------+

In [30]:
select_columns = ['DT_INICIO_ATV',
                  'DT_SITUACAO_CAD',
                  'ANO_ABERTURA_n',
                  'ANO_SIT_CADASTRAL_N',
                  'TEMPO_FUNCIONAMENTO']

df_validation = estabelecimento.select(*select_columns)

In [36]:
df_validation.select(*select_columns).sort('TEMPO_FUNCIONAMENTO', asc=False).show()

+-------------+---------------+--------------+-------------------+-------------------+
|DT_INICIO_ATV|DT_SITUACAO_CAD|ANO_ABERTURA_n|ANO_SIT_CADASTRAL_N|TEMPO_FUNCIONAMENTO|
+-------------+---------------+--------------+-------------------+-------------------+
|         null|             08|          null|                  8|               null|
|         null|             08|          null|                  8|               null|
|         null|             08|          null|                  8|               null|
|      9420100|             00|          9420|                  0|            -9420.0|
|      5620104|             63|          5620|                 63|            -5557.0|
|      4930204|             01|          4930|                  1|            -4929.0|
|      4755503|             01|          4755|                  1|            -4754.0|
|      4771701|             21|          4771|                 21|            -4750.0|
|      4744001|             63|          4744|                 63|            -4681.0|
|      4665600|             00|          4665|                  0|            -4665.0|
|      4399103|             63|          4399|                 63|            -4336.0|
|     20180823|              0|          2018|                  0|            -2018.0|
|     20180322|              0|          2018|                  0|            -2018.0|
|     20160520|              0|          2016|                  0|            -2016.0|
|     20151119|              0|          2015|                  0|            -2015.0|
|     20130322|              0|          2013|                  0|            -2013.0|
|     20120718|              0|          2012|                  0|            -2012.0|
|     20110419|              0|          2011|                  0|            -2011.0|
|     20110603|              0|          2011|                  0|            -2011.0|
|     20110223|              0|          2011|                  0|            -2011.0|
+-------------+---------------+--------------+-------------------+-------------------+
only showing top 20 rows

In [38]:
df_validation.select(*select_columns).sort('DT_INICIO_ATV', asc=False).show(50)

+-------------+---------------+--------------+-------------------+-------------------+
|DT_INICIO_ATV|DT_SITUACAO_CAD|ANO_ABERTURA_n|ANO_SIT_CADASTRAL_N|TEMPO_FUNCIONAMENTO|
+-------------+---------------+--------------+-------------------+-------------------+
|         null|             08|          null|                  8|               null|
|         null|             08|          null|                  8|               null|
|         null|             08|          null|                  8|               null|
|     11090810|       20181011|          1109|               2018|              909.0|
|     11940815|       20151229|          1194|               2015|              821.0|
|     11990622|       20051103|          1199|               2005|              806.0|
|     16010101|       16010101|          1601|               1601|                0.0|
|     16960719|       20040423|          1696|               2004|              308.0|
|     18911023|       20051103|          1891|               2005|              114.0|
|     18930705|       20051103|          1893|               2005|              112.0|
|     18990419|       20051103|          1899|               2005|              106.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       20040814|          1901|               2004|              103.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       20051103|          1901|               2005|              104.0|
|     19010101|              0|          1901|                  0|            -1901.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       20051103|          1901|               2005|              104.0|
|     19010101|       19010101|          1901|               1901|                0.0|
|     19010101|       20220920|          1901|               2022|              121.0|
+-------------+---------------+--------------+-------------------+-------------------+
only showing top 50 rows

In [53]:
estabelecimento.filter(f.col('ANO_SIT_CADASTRAL')=='1903').show(50)

+--------+--------+-------+---------+--------------------+------------+---------------+----------------+------------------+----+-------------+----------+--------+-------------+--------------------+------+-----------+-------+--------+---+------------+----+--------+----+--------+-------+--------+--------------------+-----------------+--------------------+------------+--------------+-----------------+-------------------+-------------------+
|CNPJ_RAD|CNPJ_ORD|CNPJ_DV|ID_MATRIZ|         NM_FANTASIA|SITUACAO_CAD|DT_SITUACAO_CAD|MOT_SITUACAO_CAD|NM_CIDADE_EXTERIOR|PAIS|DT_INICIO_ATV|CNAE_PRINC|CNAE_SEC|TP_LOGRADOURO|           LOGADOURO|NUMERO|COMPLEMENTO| BAIRRO|     CEP| UF|CD_MUNICIPIO|DDD1|   FONE1|DDD2|   FONE2|DDD_FAX|     FAX|               EMAIL|SITUACAO_ESPECIAL|DT_SITUACAO_ESPECIAL|ANO_ABERTURA|ANO_ABERTURA_n|ANO_SIT_CADASTRAL|ANO_SIT_CADASTRAL_N|TEMPO_FUNCIONAMENTO|
+--------+--------+-------+---------+--------------------+------------+---------------+----------------+------------------+----+-------------+----------+--------+-------------+--------------------+------+-----------+-------+--------+---+------------+----+--------+----+--------+-------+--------+--------------------+-----------------+--------------------+------------+--------------+-----------------+-------------------+-------------------+
|29987225|    0001|     65|        1|                null|          02|       19031211|              00|              null|null|     19031211|   8411600|    null|      AVENIDA|MONSENHOR SCALABRINI|   600|       null| CENTRO|99200000| RS|        8687|  54|34435911|null|    null|   null|    null|                null|             null|                null|        1903|          1903|             1903|               1903|                0.0|
|04119077|    0001|     36|        1|    EMBAIXADA DO IRA|          02|       19030101|              00|              null| 372|     19030101|   9900800|    null|         null|SES AVENIDA DAS N...|LT. 31|       null|ASA SUL|70421900| DF|        9701|  61| 2425733|null|    null|     61| 2449640|embiran@linkexpre...|             null|                null|        1903|          1903|             1903|               1903|                0.0|
|09224913|    0001|     66|        1|                null|          02|       19031009|              00|              null|null|     19031009|   6912500|    null|          RUA| LUIS TEIXEIRA COSTA|    91|    LOJA  A| CENTRO|57770000| AL|        2725|  82|32841888|  82|99977681|     82|32841888|REGISTROCIVILCAJU...|             null|                null|        1903|          1903|             1903|               1903|                0.0|
|04603879|    0001|     17|        1|CONSULADO DA ARGE...|          02|       19030301|              00|              null| 063|     19030301|   9900800|    null|     TRAVESSA|VICE CONSUL EDUAR...|    26|       null| CENTRO|85851270| PR|        7563|  45| 5742969|null|    null|     45| 5742877|                null|             null|                null|        1903|          1903|             1903|               1903|                0.0|
|05305929|    0001|     42|        1|                null|          02|       19031130|              00|              null|null|     19031130|   6912500|    null|          RUA|MARECHAL DEODORO ...|    99|       null| CENTRO|14730000| SP|        6731|  17|33614198|  17|33612504|     17|33615730|RCIVILMAP@HOTMAIL...|             null|                null|        1903|          1903|             1903|               1903|                0.0|
+--------+--------+-------+---------+--------------------+------------+---------------+----------------+------------------+----+-------------+----------+--------+-------------+--------------------+------+-----------+-------+--------+---+------------+----+--------+----+--------+-------+--------+--------------------+-----------------+--------------------+------------+--------------+-----------------+-------------------+-------------------+

#### Atividade principal

In [16]:
estabelecimento = estabelecimento.withColumn('CD_CNAE20_DIVISAO', f.substring(f.col('CNAE_PRINC'), 1, 2))

In [15]:
df_atividade = estabelecimento\
                  .select('CD_CNAE20_DIVISAO')\
                  .groupby('CD_CNAE20_DIVISAO')\
                  .count()\
                  .sort('count',ascending=False)

In [17]:
desc_div = spark.read.csv('DESC_DIVISAO_CNAE.csv', header=True, sep=';')
desc_div.show()

+---------------+--------------------+-----------------+--------------------+
|CD_SECAO_CNAE20|   DESC_SECAO_CNAE20|CD_CNAE20_DIVISAO| DESC_CNAE20_DIVISAO|
+---------------+--------------------+-----------------+--------------------+
|              A|AGRICULTURA, PECU...|               01|AGRICULTURA, PECU...|
|              A|AGRICULTURA, PECU...|               02|  PRODUÇÃO FLORESTAL|
|              A|AGRICULTURA, PECU...|               03| PESCA E AQÜICULTURA|
|              B|INDÚSTRIAS EXTRAT...|               05|EXTRAÇÃO DE CARVÃ...|
|              B|INDÚSTRIAS EXTRAT...|               06|EXTRAÇÃO DE PETRÓ...|
|              B|INDÚSTRIAS EXTRAT...|               07|EXTRAÇÃO DE MINER...|
|              B|INDÚSTRIAS EXTRAT...|               08|EXTRAÇÃO DE MINER...|
|              B|INDÚSTRIAS EXTRAT...|               09|ATIVIDADES DE APO...|
|              C|INDÚSTRIAS DE TRA...|               10|FABRICAÇÃO DE PRO...|
|              C|INDÚSTRIAS DE TRA...|               11|FABRICAÇÃO DE BEB...|
|              C|INDÚSTRIAS DE TRA...|               12|FABRICAÇÃO DE PRO...|
|              C|INDÚSTRIAS DE TRA...|               13|FABRICAÇÃO DE PRO...|
|              C|INDÚSTRIAS DE TRA...|               14|CONFECÇÃO DE ARTI...|
|              C|INDÚSTRIAS DE TRA...|               15|PREPARAÇÃO DE COU...|
|              C|INDÚSTRIAS DE TRA...|               16|FABRICAÇÃO DE PRO...|
|              C|INDÚSTRIAS DE TRA...|               17|FABRICAÇÃO DE CEL...|
|              C|INDÚSTRIAS DE TRA...|               18|IMPRESSÃO E REPRO...|
|              C|INDÚSTRIAS DE TRA...|               19|FABRICAÇÃO DE COQ...|
|              C|INDÚSTRIAS DE TRA...|               20|FABRICAÇÃO DE PRO...|
|              C|INDÚSTRIAS DE TRA...|               21|FABRICAÇÃO DE PRO...|
+---------------+--------------------+-----------------+--------------------+
only showing top 20 rows

In [17]:
df_atividade = df_atividade.join(desc_div,['CD_CNAE20_DIVISAO'],'left')

In [ ]:
df_atividade = df_atividade.drop('CD_SECAO_CNAE20','DESC_SECAO_CNAE20','CD_CNAE20_DIVISAO')

In [28]:
df_atividade.select('DESC_CNAE20_DIVISAO','count').show()

+--------------------+-------+
| DESC_CNAE20_DIVISAO|  count|
+--------------------+-------+
|EXTRAÇÃO DE MINER...|   9857|
|    TRANSPORTE AÉREO|   5905|
|PREPARAÇÃO DE COU...| 143313|
|FABRICAÇÃO DE BEB...|  22718|
|ATIVIDADES JURÍDI...| 374208|
|FABRICAÇÃO DE VEÍ...|  31494|
|OBRAS DE INFRA-ES...| 107157|
|PUBLICIDADE E PES...|1371254|
|ATIVIDADES DE ATE...| 303301|
|ATIVIDADES DE SER...| 432814|
|FABRICAÇÃO DE OUT...|   7607|
|ATIVIDADES CINEMA...| 180726|
|AGRICULTURA, PECU...|1029183|
|FABRICAÇÃO DE MÁQ...|  51086|
|FABRICAÇÃO DE PRO...|  79861|
|            EDUCAÇÃO|1499642|
|ARMAZENAMENTO E A...| 533360|
|FABRICAÇÃO DE PRO...| 171472|
|ELETRICIDADE, GÁS...|  29437|
|SERVIÇOS DE ARQUI...| 299471|
+--------------------+-------+
only showing top 20 rows

## Sócios

In [13]:
csvSchema = StructType(
    [StructField('CNPJ_RAD',StringType(),True),\
     StructField('ID_SOCIO',StringType(),True),\
     StructField('NM_SOCIO',StringType(),True),\
     StructField('DOC_SOCIO',StringType(),True),\
     StructField('QUALIFIC_SOCIO',StringType(),True),\
     StructField('DT_ENT_SOCIEDADE',StringType(),True),\
     StructField('PAIS_SOCIO_ESTRANGEIRO',StringType(),True),\
     StructField('CPF_REPRESENTANTE',StringType(),True),\
     StructField('NM_REPRESENTANTE',StringType(),True),\
     StructField('QUALIFIC_REPRESENTANTE',StringType(),True),\
     StructField('FAIXA_ETARIA',StringType(),True)])

In [14]:
csvFilesSocio = ['RFB_CNPJ_SOCIO_0.CSV',\
                 'RFB_CNPJ_SOCIO_1.CSV',\
                 'RFB_CNPJ_SOCIO_2.CSV',\
                 'RFB_CNPJ_SOCIO_3.CSV',\
                 'RFB_CNPJ_SOCIO_4.CSV',\
                 'RFB_CNPJ_SOCIO_5.CSV',\
                 'RFB_CNPJ_SOCIO_6.CSV',\
                 'RFB_CNPJ_SOCIO_7.CSV',\
                 'RFB_CNPJ_SOCIO_8.CSV',\
                 'RFB_CNPJ_SOCIO_9.CSV']

In [15]:
socio = spark.read.csv(csvFilesSocio, header=None, schema=csvSchema, sep=';', encoding='windows-1252')

In [20]:
display(socio)

+--------+--------+--------------------+-----------+--------------+----------------+----------------------+-----------------+----------------+----------------------+------------+
|CNPJ_RAD|ID_SOCIO|            NM_SOCIO|  DOC_SOCIO|QUALIFIC_SOCIO|DT_ENT_SOCIEDADE|PAIS_SOCIO_ESTRANGEIRO|CPF_REPRESENTANTE|NM_REPRESENTANTE|QUALIFIC_REPRESENTANTE|FAIXA_ETARIA|
+--------+--------+--------------------+-----------+--------------+----------------+----------------------+-----------------+----------------+----------------------+------------+
|02954739|       2|LIDIANE BORGES PI...|***852188**|            49|        19990129|                  null|      ***000000**|            null|                    00|           5|
|06888391|       2|WAGNER APARECIDO ...|***345608**|            49|        20040630|                  null|      ***000000**|            null|                    00|           5|
|06888430|       2|SERGIO RICARDO LI...|***542024**|            16|        20070903|                  null|      ***000000**|            null|                    00|           4|
|02522368|       2|MANOEL ANTONIO SI...|***363378**|            22|        19980513|                  null|      ***000000**|            null|                    00|           8|
|02522368|       2|MIRTES MARIA DASC...|***168448**|            49|        19980513|                  null|      ***000000**|            null|                    00|           8|
|01335500|       2|NILDA RODRIGUES D...|***008016**|            16|        20050912|                  null|      ***000000**|            null|                    00|           7|
|20660445|       2|MARIO GONCALVES C...|***289906**|            16|        20050912|                  null|      ***000000**|            null|                    00|           9|
|07632414|       2|EDIOMARA DE RAMOS...|***093309**|            65|        20051010|                  null|      ***000000**|            null|                    00|           4|
|06888866|       2|ADRIANA DE PAIVA ...|***209916**|            22|        20040719|                  null|      ***000000**|            null|                    00|           6|
|06888866|       2|RAIMUNDO MOIA JUNIOR|***437286**|            49|        20040719|                  null|      ***000000**|            null|                    00|           5|
|04723314|       2|JANETE DE FATIMA ...|***168600**|            49|        20011017|                  null|      ***000000**|            null|                    00|           6|
|57799819|       2|DALVA MANHAS PIAN...|***514328**|            65|        20151016|                  null|      ***000000**|            null|                    00|           8|
|20664264|       2|JOSE VERISSIMO DE...|***758676**|            16|        20050912|                  null|      ***000000**|            null|                    00|           9|
|20666962|       2|MARIA DE FATIMA F...|***497766**|            16|        20050912|                  null|      ***000000**|            null|                    00|           7|
|01336152|       2|FERNANDO DE CASTR...|***144386**|            49|        19970723|                  null|      ***000000**|            null|                    00|           5|
|01336152|       2|DORACY ALVES TEIX...|***643126**|            22|        19970723|                  null|      ***000000**|            null|                    00|           7|
|04723964|       2|EMANUELA SOUZA LOPES|***333335**|            49|        20011005|                  null|      ***000000**|            null|                    00|           5|
|04723964|       2| JULIANO SCHAIDHAUER|***786090**|            49|        20011005|                  null|      ***000000**|            null|                    00|           5|
|02649615|       2|    DERLY BRAGA LEAL|***292377**|            49|        20080104|                  null|      ***000000**|            null|                    00|           8|
|04724038|       2|ANDREA DEL BOSCO ...|***687551**|            22|        20011015|                  null|      ***000000**|            null|                    00|           5|
+--------+--------+--------------------+-----------+--------------+----------------+----------------------+-----------------+----------------+----------------------+------------+
only showing top 20 rows

#### Quantidade de registros na base de Sócios

In [21]:
socio.count()

21565831

#### Quantidade de sócios por empresa

In [84]:
df_qtd_socio = socio\
                  .select('CNPJ_RAD')\
                  .groupby('CNPJ_RAD')\
                  .count()\
                  .withColumnRenamed('count','QTDE_SOCIOS')

In [85]:
df_qtd_socio_emp = df_qtd_socio\
                  .select('QTDE_SOCIOS')\
                  .groupby('QTDE_SOCIOS')\
                  .count()\
                  .sort('QTDE_SOCIOS',ascending=True)

In [86]:
display(df_qtd_socio_emp.limit(10))

+-----------+-------+
|QTDE_SOCIOS|  count|
+-----------+-------+
|          1|4139135|
|          2|6356022|
|          3| 709039|
|          4| 245421|
|          5|  92546|
|          6|  47036|
|          7|  23131|
|          8|  14064|
|          9|   8785|
|         10|   6107|
+-----------+-------+

Empresa com mais sócios

In [87]:
df_qtd_socio_emp.tail(1)

[Row(QTDE_SOCIOS=1149, count=1)]

#### Faixa etária dos sócios

Descrição dos códigos de faixa etária, informada pela Receita Federal

- 1: para os intervalos entre 0 a 12 anos;
- 2: para os intervalos entre 13 a 20 anos;
- 3: para os intervalos entre 21 a 30 anos;
- 4: para os intervalos entre 31 a 40 anos;
- 5: para os intervalos entre 41 a 50 anos;
- 6: para os intervalos entre 51 a 60 anos;
- 7: para os intervalos entre 61 a 70 anos;
- 8: para os intervalos entre 71 a 80 anos;
- 9: para maiores de 80 anos.
- 0: para não se aplica.

In [108]:
df_faixa_etaria = socio\
            .select('FAIXA_ETARIA')\
            .groupby('FAIXA_ETARIA')\
            .count()\
            .sort('count',ascending=False)

df_faixa_etaria = df_faixa_etaria.withColumn('DESC_FAIXA_ETARIA', 
                     f.when(f.col('FAIXA_ETARIA') == '1','0 a 12 anos')
                      .when(f.col('FAIXA_ETARIA') == '2','13 a 20 anos')
                      .when(f.col('FAIXA_ETARIA') == '3','21 a 30 anos')
                      .when(f.col('FAIXA_ETARIA') == '4','31 a 40 anos')
                      .when(f.col('FAIXA_ETARIA') == '5','41 a 50 anos')
                      .when(f.col('FAIXA_ETARIA') == '6','51 a 60 anos')
                      .when(f.col('FAIXA_ETARIA') == '7','61 a 70 anos')
                      .when(f.col('FAIXA_ETARIA') == '8','71 a 80 anos')
                      .when(f.col('FAIXA_ETARIA') == '9','80 anos ou mais')
                      .when(f.col('FAIXA_ETARIA') == '0','Não se aplica')
                     .otherwise(f.lit('Nulo'))
                    )
df_faixa_etaria.drop('FAIXA_ETARIA')

display(df_faixa_etaria.select('DESC_FAIXA_ETARIA','count'))

+-----------------+-------+
|DESC_FAIXA_ETARIA|  count|
+-----------------+-------+
|     41 a 50 anos|5277844|
|     51 a 60 anos|4597962|
|     31 a 40 anos|4124948|
|     61 a 70 anos|3276022|
|     71 a 80 anos|1537384|
|     21 a 30 anos|1390167|
|  80 anos ou mais| 746162|
|    Não se aplica| 471386|
|     13 a 20 anos| 116622|
|      0 a 12 anos|  27334|
+-----------------+-------+

#### Nacionalidade dos sócios

Baixando o arquivo com a descrição do país

In [99]:
url = 'http://200.152.38.155/CNPJ/F.K03200$Z.D20514.PAISCSV.zip'

filename = wget.download(url)

with ZipFile(filename, 'r') as zipObj:
    print(f'\nExtraindo {filename} ...')
    zipObj.extractall()

filename_0extension = filename.replace('.zip','')
filename_to_csv = 'DESC_PAIS.CSV'
        
file_oldname = os.path.join("C:/Users/thiago.silva/CNPJ_RFB_PI_IV", filename_0extension)
file_newname_newfile = os.path.join("C:/Users/thiago.silva/CNPJ_RFB_PI_IV", filename_to_csv)
os.rename(file_oldname, file_newname_newfile)

DeleteZipFile = filename

try:
    os.remove(DeleteZipFile)
except OSError as e:
    print(e)
else:
    print(f'Arquivo {DeleteZipFile} não será mais necessário e por isso foi deletado!')
    print(f'Arquivo {filename_to_csv} disponibilizado em C:/Users/thiago.silva/CNPJ_RFB_PI_IV')

100% [................................................................................] 2745 / 2745
Extraindo F.K03200$Z.D20514.PAISCSV.zip ...
Arquivo F.K03200$Z.D20514.PAISCSV.zip não será mais necessário e por isso foi deletado!
Arquivo DESC_PAIS.CSV disponibilizado em C:/Users/thiago.silva/CNPJ_RFB_PI_IV

In [103]:
csvSchema = StructType(
    [StructField('PAIS_SOCIO_ESTRANGEIRO',StringType(),True),\
     StructField('DESC_PAIS_SOCIO_ESTRANGEIRO',StringType(),True)])

tb_pais = spark.read.csv('DESC_PAIS.CSV', header=None, schema=csvSchema, sep=';', encoding='windows-1252')

In [102]:
df_pais_socio = socio\
                  .select('PAIS_SOCIO_ESTRANGEIRO')\
                  .groupby('PAIS_SOCIO_ESTRANGEIRO')\
                  .count()\
                  .sort('count',ascending=False)

In [104]:
df_pais_socio = df_pais_socio.join(tb_pais,['PAIS_SOCIO_ESTRANGEIRO'],'left')

In [106]:
df_pais_socio.select('DESC_PAIS_SOCIO_ESTRANGEIRO','count').show(truncate=False)

+---------------------------+--------+
|DESC_PAIS_SOCIO_ESTRANGEIRO|count   |
+---------------------------+--------+
|null                       |21484051|
|ESTADOS UNIDOS             |15818   |
|ITALIA                     |7303    |
|ESPANHA                    |6166    |
|PORTUGAL                   |5333    |
|URUGUAI                    |4243    |
|ALEMANHA                   |3731    |
|FRANCA                     |3665    |
|Países Baixos (Holanda)    |3392    |
|ARGENTINA                  |3387    |
|SUICA                      |2136    |
|null                       |2118    |
|VIRGENS, ILHAS (BRITANICAS)|2055    |
|REINO UNIDO                |1683    |
|China, República Popular   |1633    |
|PANAMA                     |1490    |
|CANADA                     |1376    |
|LUXEMBURGO                 |1111    |
|JAPAO                      |1024    |
|BELGICA                    |795     |
+---------------------------+--------+
only showing top 20 rows